@page
@using UI.Pages
@model UI.Pages.IndexModel
@{
    ViewData["Title"] = "Study";
}


<div class="container-fluid bg-dark text-light"><p><h1>Thank you for your interest in the Software Testing Study.  Here are the steps to get started.</h1></p></div>

<div class="container-fluid">
    <div class="card container-fluid bg-dark text-light">
        <div class="card-body">
            <h5 class="card-title">Step 1</h5>
            <p class="card-text">Watch the brief orientation.  Note:  the video discusses only 4 projects, but there are 5.</p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="videos/TT_Study_Orientation.mp4" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card container-fluid bg-dark text-light">
        <div class="card-body">
            <h5 class="card-title">Step 2</h5>
            <p class="card-text">Read and consent to the study.  If you agree, you can sign-up for the study using the button below which will take you to an electronic form.</p>
            <a target="_blank" href="downloads/StudyConsent.pdf" class="btn btn-primary bg-dark">Read Consent Form</a>
            <a target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=8lDb9NE1Bk6U4hZ3VSc1WDrUb8zMmJ9Dk6JgDTGGfn5UOE9ZMEhWWVMwNFdFTDFSTUVWQkNLOE8wTy4u" class="btn btn-primary bg-dark">Sign-up Here!</a>
        </div>
        </div>
</div>

<div class="container-fluid">
    <div class="card container-fluid bg-dark text-light">
        <div class="card-body">
            <h5 class="card-title">Step 3</h5>
            <p class="card-text">Download Java JDK 11+.  If you already have downloaded Android Studio or have used Java in the past, you do not need to do this step.</p>
            <a target="_blank" href="https://www.oracle.com/technetwork/java/javase/downloads/jdk11-downloads-5066655.html" class="btn btn-primary bg-dark">Java JDK Download Page</a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card container-fluid bg-dark text-light">
        <div class="card-body">
            <h5 class="card-title">Step 4</h5>
            <p class="card-text">Download the ZIP file and extract the contents to your hard drive.  The executable to run Netbeans is in the BIN folder.</p>
            <a target="_blank" href="http://us.mirrors.quenda.co/apache/incubator/netbeans/incubating-netbeans/incubating-11.0/incubating-netbeans-11.0-bin.zip" class="btn btn-primary bg-dark">NetBeans Download Page</a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card container-fluid bg-dark text-light">
        <div class="card-body">
            <h5 class="card-title">Step 5</h5>
            <p class="card-text">Create an account on Testing Tutor.</p>
            <a target="_blank" href="https://testingtutor.org/Identity/Account/Register" class="btn btn-primary bg-dark">Testing Tutor Registration Page</a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card container-fluid bg-dark text-light">
        <div class="card-body">
            <h5 class="card-title">Step 6</h5>
            <p class="card-text">Download the pre-configured NetBeans project and unzip to your hard drive.  This NetBeans project contains the source and test files for the five projects that you will use for the study.</p>
            <a target="_blank" href="downloads/TestingTutorStudy.zip" class="btn btn-primary bg-dark">Download Projects</a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card container-fluid bg-dark text-light">
        <div class="card-body">
            <h5 class="card-title">Step 7</h5>
            <p class="card-text">Check out these resources for Java Assert functions and for how to expect exceptions in unit tests.</p>
            <a target="_blank" href="http://junit.sourceforge.net/javadoc/org/junit/Assert.html" class="btn btn-primary bg-dark">Java Asserts</a>
            <a target="_blank" href="https://github.com/junit-team/junit4/wiki/exception-testing" class="btn btn-primary bg-dark">JUnit Expected Exceptions</a>
        </div>
    </div>
</div>
