@page
@model TestingTutor.UI.Pages.TestConcepts.EditModel

@{
    ViewData["Title"] = "Edit Test Concept";
}

<h2>Edit Test Concept</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TestConcept.Id" />
            <div class="form-group">
                <label asp-for="TestConcept.Name"></label>
                <input asp-for="TestConcept.Name" class="form-control" />
                <span asp-validation-for="TestConcept.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestConcept.ConceptualContent"></label>
                <input asp-for="TestConcept.ConceptualContent" class="form-control" />
                <span asp-validation-for="TestConcept.ConceptualContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestConcept.DetailedContent"></label>
                @Html.TextAreaFor(m => m.TestConcept.DetailedContent, new { rows = "20", style = "resize:none;width:400px;", placeholder = Html.DisplayNameFor(m => m.TestConcept.DetailedContent), @class = "form-control input-lg textarea-editor" })
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary text-light" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
}
